# Скопіюйте цей файл у .env і заповніть значення
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
ADMIN_PASSWORD=your_admin_password
MANAGER_PASSWORD=your_manager_password
GOOGLE_CLIENT_ID=293363955378-ihjprejtvdvq7g2jfup97pq9esl8jk34.apps.googleusercontent.com
CORS_ORIGINS=http://localhost:5174
